<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My Blog</a></h1>
        </div>

        <div>
            <p>published: 10.08.2020, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi AM Hemanth How are you!!!</p>
        </div>

        <div>
            <p>published: 10.08.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>For Kolla Mouli Krishna [from hemanth]</p>
        </div>
    </body>
</html>